body{
    font-family: 'Roboto', sans-serif;
    height: auto;
    background-color:  #f5f3ef;
}

/* test css start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav-bar{
    border-bottom: 1px solid #E2E8F0;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 60px;
    padding: 1rem 1.5rem;
}

.nav-tab{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.nav-tab > :nth-child(2){
    margin-left: 2rem;
}


.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #FFFFFF;
}

.nav-link:hover{
    color: #FEBD2F;
}

ul > :nth-child(1){
    display: none;
}

ul > :nth-child(2){
    display: none;
}

.border{
    background-color: #000000;
    color: #FFFFFF;
    height: 38px;
    width: 128px;
    border-radius: 30px;
    text-align: center;  
    display: flex;
    justify-content: center;
    align-items: center;
}



@media only screen and (max-width: 500px) {
    .nav-menu {
        position: fixed;
        top: 7rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        left:-100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0%;
    }

    .nav-item {
        
        margin: 2.5rem 0;
    }

    .nav-logo{
        left: 60px;
    }

    .nav-bar{
        margin-inline: 0px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    ul > :nth-child(1){
        display: block;
    }
    
    ul > :nth-child(2){
        display: block;
    }

    .nav-tab{
        display: none;
    }

    .border{
        display: none;
    }

    .nav-link{
        color: #000000;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}


/* test css end */

.grid-container{
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-areas: 
 "header header"
 "title image"
 "cards cards"
 "footer footer";
}

.grid-item{
 text-align: center;
}

.header{
    grid-area: header;
    height: 100px;
    padding: 30px 0px;
}

.nav-bar > :nth-child(2){
    display: flex;
    position: relative;
    right: 20px;
}




a{
    text-decoration: none;
    color: #000000;
}

.title{
    grid-area: title;
    height: 550px;
    margin: 0px 80px 0px 80px;
}

.title-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.title-card > :nth-child(1){
font-size: 64px;
flex-wrap: wrap;
}

.title-card > :nth-child(2){
    font-size: 24px;
    line-height: 32px;
    font-weight: 400px;
    color: #646464;
}

.image{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: image;
    height: 550px;
    margin: 0px 80px 0px 80px;
}

.image-spec > :nth-child(1){
    width: 100%;
    height: auto;
    border-radius: 40px;
}

.cards{
    grid-area: cards;
    height: 900px;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 80px 0px 80px;
}

.cards > :nth-child(1){
    background-color: #FEBD2F;
}

.card1{
    display: flex;
    text-align: left;
    font-size: 40px;
    font-weight: 500;
    line-height: 47px;
    margin-left: 30px; 
}

.card-container{
height: 324px;
width: 400px;
background-color: #FFFFFF;
border-radius: 40px;
}

.card-container > p{
    font-family: 'Roboto Serif', serif;
}

.card-container > button{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    top: 236px;
    margin-left: 30px;
    width: 143px;
    height: 48px;
    background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 50px; 
    font-size: 18px;
}

.card-container > img{
    display: flex;
    position: relative;
    left: 300px;
    bottom: 90px;
}

.card-detail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    position: relative;
    bottom: 130px;
    margin: 20px 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}



.card-detail > :nth-child(2){
font-size: 18px;
font-weight: 400;
line-height: 28px;
color: #646464;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: footer;
    background-color: #FEBD2F;
    height: 100px;
    margin-top: 10px;   
}

.footer > img{
    height: 32px;
    width: 129.62px;
}

